* {
    font-family: 'Open Sans', sans-serif; 
}
.height-100{
    height: 100vh !important;
}
.bg-orange {
    background-color: #ff4611;
}

.header i {
    color: #f2f2f2;
}

.h-90 {
    height: 85vh!important;
}

.input-orange, .select-orange {
    background: #ff4611!important;
    border: none!important;
    border-color: white!important;
    border-bottom: solid white 1px!important;
    color: #ffffff!important;
}

.input-group i {
    color: #f2f2f2!important;
    padding: 10px 5px 0 0!important;
}

.pl-white ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #f2f2f2!important;
    opacity: 1 !important;/* Firefox */
  }

.um-form ::placeholder {
    color: #999999!important;
    
}

.button-orange {
    background-color: #ff2600!important;
    border: none!important;
    color: #f2f2f2;
}

.button-orange:focus {
    outline: none !important;
    border:1px solid white !important;
    box-shadow: 0 0 10px!important;
}

@media only screen and (min-width: 769px) {
    .app, .bottom {
        display: none;
    }
}

@media only screen and (max-width: 769px) {
    .web, .header, h1 {
        display: none !important;
    }
    .h-90 {
        height: auto!important;
    }
    /* .container-fluid, .bg-orange {
        background-color: #f2f2f2!important;
        width: 100% !important;
    } */
    .responsive {
        background-color: #f2f2f2!important;
        width: 100% !important;
    }
    .app {
        display: block;
        margin-bottom: 20px;
        width: 100%!important;
        padding: 55px 0 10px 0;
        justify-self: center!important;
    }

    .orange {
        background-color: #ff2600!important;
        color: #ffffff;
    }
    .col-md-6 {
        width: 100%;
        margin: auto;
    }
    .col-sm-12 {
        width: 100%;
        margin-top: 0;
    }
    .col-sm-12  form{
        padding: 0 7% 0 7%;
    }
    .app a  {
        color: #ffffff!important;
    }
    .input-orange, .select-orange {
        background: #ffffff!important;
        color: #2a2929!important;
    }
    .input-group i {
        color: #999999!important;
    }
    .pl-white ::placeholder, .select, option { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #999999!important;
    }
    a.text-white  {
        color: #2a2929!important;
    }
}

/*  estilos menu 1 */
.bgimg-1, .bg-logout {
    background-image: url("../img/bike.png");
    height: 94vh;
    width: auto;
    opacity: 0.65;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* fin estilos menu 1 */

/*  estilos gestión de usuarios */
.bg-um {
    background-image: url("../img/um.jpg");
    height: 30vh !important;
    width: auto;
    opacity: 0.65;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* fin estilos gestión de usuarios */

/*  estilos editar datos personales */
.bg-edit {
    background-image: url("../img/city.jpg");
    height: 30vh !important;
    width: auto;
    opacity: 0.65;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#edit-form i {
    color: #999999 !important;
}
/* fin estilos editar datos personales */

/* estilos qr desbloquear bicicleta*/
.qr-input {
    padding:5px;
    background-color:transparent;
    border:none;
    border-bottom:solid 4px #ff4611;
    width:250px;
    font-size:16px;
}
/* fin estilos qr desbloquear bicicleta*/

/* viaje concluido */
.viaje{
    height: 92vh;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-end{
    background-image: url("../img/end.jpg");
    height: 92vh !important;
    padding: 0;
    opacity: 0.75;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
.text{
    color: rgba(0, 0, 0, 1);
}
/* fin viaje concluido */
/*Buscar Biciclete*/
#map {
    height: 570px;
    width: 100%;
    border: 1px solid #333;
    margin-top: 20px;
    margin-bottom: 50px;
    align-content: center;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888
  }
  #submit{
    visibility: hidden;
    }
    #table{
      visibility: hidden;
    }
  /* fin Buscar Bicicleta/