* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #ff4611;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ff4611;
  color: #ffffff(250, 37, 37);
}

.topnav a.active {
  background-color: #ff9d64;
  color: rgb(255, 255, 255);
}

.container{
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
.container .btn-menu, .logo{
  float: left;
  line-height:100px;
}
.container .btn-menu label{
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}
.logo h1{
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  margin-left: 10px;
}
.container .menu{
  float: right;
  line-height: 100px;
}
.container .menu a{
  display: inline-block;
  padding: 15px;
  line-height: normal;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
  font-size: 15px;
  margin-right: 5px;
}
.container .menu a:hover{
  border-bottom: 2px solid #c7c7c7;
  padding-bottom: 5px;
}

.left {
  width: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

.left img {
  width: 100%;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 17%;
  text-align: center;
  color: #fefefe;
}

.right {
  width: 50%;
  background: #ff4611;

  line-height: 1.5em;
}

.header{
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;left: 0;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #f2f2f2;
  opacity: 1; /* Firefox */
}

.input-icons i {
  position: absolute;
  color: #f2f2f2;
}

.input-icons {
  width: 50%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  padding: 15px;
  min-width: 40px;
  margin-top: 30px;
}

.input-field {
  width: 86%;
  padding: 15px;
  padding-left: 50px;
  margin-top: 30px;
  background: #ff4611;
  color: #fefefe;
  border: none;
  border-color: white;
  border-bottom: solid white 1px;
}

.input-field:focus {
  outline: none !important;
  border-bottom: 1px solid white;
}

button {
  margin-top: 30px;
  display: block;
  width: 100%;
  border: none;
  background-color: #ff2600;
  color: #f2f2f2;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

button:focus {
  outline: none !important;
  border: 1px solid white;
  box-shadow: 0 0 10px;
}

.forgetpass {
  text-align: right;
  float: right;
  color: #f2f2f2;
}

#textcenter {
  text-align: center;
  color:white;

}

.user {
  width: 50px;
  height: 50px;
  float: right;
  margin-top: -40px; 
  margin-bottom: 10px;
}

.register,
.register a {
  margin-top: 150px;
  color: #f2f2f2;
  text-align: center;
  font-size: 18px;
}

@media only screen and (min-width: 600px) {
  .app,
  .bottom {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    display: block;
    background-color: #f2f2f2;
  }
  .left,
  .right {
    width: 100%;
  }
  .right {
    background-color: #f2f2f2;
  }
  .web,
  .header,
  h1 {
    display: none;
  }

  .app {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70% !important;
    padding: 55px 0 10px 0;
  }

  .icon {
    margin-top: 0px;
  }

  .input-icons i {
    color: gray;
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: gray;
  }

  .input-field {
    width: 77%;
    margin-top: 0px;
    border-bottom: solid #f2f2f2 1px;
    background-color: white;
    color: #2a2929;
  }

  .input-icons {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

  button {
    margin-top: 0px;
  }
  .bottom a {
    display: inline;
    color: #2a2929;
  }
  .bottom {
    padding: 0 35px 0 35px;
  }
}

/*Menù lateral*/
#btn-menu {
  display: none;
}
.container-menu {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}
#btn-menu:checked ~ .container-menu {
  opacity: 1;
  visibility: visible;
}
.cont-menu {
  width: 100%;
  max-width: 250px;
  background: #1c1c1c;
  height: 100vh;
  position: relative;
  transition: all 500ms ease;
  transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu {
  transform: translateX(0%);
}
.cont-menu nav {
  transform: translateY(15%);
}
.cont-menu nav a {
  display: block;
  text-decoration: none;
  padding: 20px;
  color: #c7c7c7;
  border-left: 5px solid transparent;
  transition: all 400ms ease;
}
.cont-menu nav a:hover {
  border-left: 5px solid #c7c7c7;
  background: #1f1f1f;
}
.cont-menu label {
  position: absolute;
  right: 5px;
  top: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}
/*Fin de Menù lateral*/
